<div id="template">
  <app-toolbar [varFromParentComponent]="varFromAppCom" (valueWasChanged)="varFromAppCom=$event"></app-toolbar>
  <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side">
        <app-side-bar></app-side-bar>
      </mat-sidenav>
      <mat-sidenav-content>
          <app-loader></app-loader>
          <button id="menu-button" mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>


